.container {
  box-shadow: 0 0 5px black;
  border-radius: 15px;
}

.bg-white {
  background-color: white !important;
}

.bg-gray {
  background-color: #1111113d !important;
}

[class*="promo-banner"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-banner {
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  &__image {
    text-align: center;
    max-height: 150px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  &__button {
    background-color: black;
    color: white;
    border-radius: 60px;
    padding: 10px;
    border: none;
  }

  &__chevron-right {
    display: none !important;
  }

  &__title {
    font-size: 20px;
    vertical-align: middle;
    margin: auto;
  }

  &__mobile-title {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .promo-banner {
    &__button {
      display: none;
    }

    &__chevron-right {
      display: block !important;
      float: right;
    }

    &__title {
      display: none;
    }

    &__mobile-title {
      font-size: 20px;
      display: block;
      margin: auto;
    }
  }
}
